WindowsFormsApp1/Connected Services/WCF_Productos/Service_Productos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8733/WcfService/Service_Productos" elementFormDefault="qualified" targetNamespace="http://localhost:8733/WcfService/Service_Productos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="_GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_DataRow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>