1_0_WinForms_Apps/Connected Services/WCFSeguridad/Utilitarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Utilitarios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Utilitarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="intentos_fallidos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuario" nillable="true" type="tns:clsUsuario" />
</xs:schema>