FormsApp/Connected Services/WCF_Productos/Service_Productos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8733/WcfService/Service_Productos" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service_Productos" targetNamespace="http://localhost:8733/WcfService/Service_Productos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8733/WcfService/Service_Productos/Imports">
      <xsd:import namespace="http://localhost:8733/WcfService/Service_Productos" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilitarios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductos__GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:_GetData" />
  </wsdl:message>
  <wsdl:message name="IProductos__GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:_GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IProductos__GetData2_InputMessage">
    <wsdl:part name="parameters" element="tns:_GetData2" />
  </wsdl:message>
  <wsdl:message name="IProductos__GetData2_OutputMessage">
    <wsdl:part name="parameters" element="tns:_GetData2Response" />
  </wsdl:message>
  <wsdl:message name="IProductos_insert_producto_InputMessage">
    <wsdl:part name="parameters" element="tns:insert_producto" />
  </wsdl:message>
  <wsdl:message name="IProductos_insert_producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:insert_productoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductos_update_producto_InputMessage">
    <wsdl:part name="parameters" element="tns:update_producto" />
  </wsdl:message>
  <wsdl:message name="IProductos_update_producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:update_productoResponse" />
  </wsdl:message>
  <wsdl:message name="IProductos_delete_producto_InputMessage">
    <wsdl:part name="parameters" element="tns:delete_producto" />
  </wsdl:message>
  <wsdl:message name="IProductos_delete_producto_OutputMessage">
    <wsdl:part name="parameters" element="tns:delete_productoResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductos">
    <wsdl:operation name="_GetData">
      <wsdl:input wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/_GetData" message="tns:IProductos__GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/_GetDataResponse" message="tns:IProductos__GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="_GetData2">
      <wsdl:input wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/_GetData2" message="tns:IProductos__GetData2_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/_GetData2Response" message="tns:IProductos__GetData2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert_producto">
      <wsdl:input wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/insert_producto" message="tns:IProductos_insert_producto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/insert_productoResponse" message="tns:IProductos_insert_producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update_producto">
      <wsdl:input wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/update_producto" message="tns:IProductos_update_producto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/update_productoResponse" message="tns:IProductos_update_producto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete_producto">
      <wsdl:input wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/delete_producto" message="tns:IProductos_delete_producto_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8733/WcfService/Service_Productos/IProductos/delete_productoResponse" message="tns:IProductos_delete_producto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Service_Productos">
    <wsdl:port name="BasicHttpBinding_IProductos" binding="i0:BasicHttpBinding_IProductos">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService/Service_Productos/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>