FormsApp/Connected Services/WCF_Productos/Service_Productos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8733/WcfService/Service_Productos" elementFormDefault="qualified" targetNamespace="http://localhost:8733/WcfService/Service_Productos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Utilitarios" />
  <xs:element name="_GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_DataRow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetData2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_DataRow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="_GetData2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_GetData2Result" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Utilitarios" minOccurs="0" name="objProducto" nillable="true" type="q1:ClsProducto" />
        <xs:element minOccurs="0" name="XmlPut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insert_productoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insert_productoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Utilitarios" minOccurs="0" name="objProducto" nillable="true" type="q2:ClsProducto" />
        <xs:element minOccurs="0" name="XmlPut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_productoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_producto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Utilitarios" minOccurs="0" name="objProducto" nillable="true" type="q3:ClsProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_productoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>