FormsApp/Connected Services/WCF_Productos/Utilitarios.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Utilitarios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Utilitarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClsProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantida_total" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad_producto_venta" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expiration_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fabrication_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_categoria" type="xs:int" />
      <xs:element minOccurs="0" name="id_producto_detalle" type="xs:int" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="presio_prome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="presio_prome_detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock_entry_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="unida_product" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClsProducto" nillable="true" type="tns:ClsProducto" />
</xs:schema>